# Flutter/Dart
**/build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
flutter_export_environment.sh
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/Podfile.lock
**/macos/Pods/
**/macos/Podfile.lock
**/android/.gradle/
**/android/local.properties
**/android/app/key.properties
**/.vscode/
**/.idea/
**/*.iml
**/.DS_Store
